*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
 text-align: center;
 background-color: #f1bf1a;
 color: white;
 border-radius: 10px;
 margin: 2% 45%;
 
}
.accueil{
    display: flex;
    justify-content: space-around;
    background-color: #f1bf1a;
    width: 100%;
    padding: 2%;
}
.accueil p{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1%;
}

.container{
    background-color: white;
    border-radius: 15px;
    width: 320px;
    padding: 7px;
    display: flex;
    justify-content: space-around;
    height: 1%;
   
}
.container span{
    padding: 10px;
    border-radius: 10px;
}
.container span, #active{
    background-color: #f1bf1a;
    color: white;
}
.artiimg{
    display: flex;
    margin-top: 2%;
    flex-wrap: wrap;
}
.artiimg img{
    display: flex;
    margin-left: 35%;
}
.article{
    font-size: 40px;
    text-align: center;
    color: #f1bf1a;
    margin-top: 2%;   
}
.activitéimg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.image1{
    display: flex;
    justify-content: center;
   
}
.clubs{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    margin-top: 2%;
    background-color: #f1bf1a;
    width: 47%;
    margin-left: 27%;
    border-radius: 15px;
    padding: 2% 5%;   
}

.infoPer{
    display: flex;
    flex-direction: column;
}

.genre{
    display: flex;  
    justify-content: flex-start;
    justify-content: space-around;   
}
.Group{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around; 
}
.club{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    margin-bottom: 2%;   
}
#btn{
    margin: 0 40%;
    
    background-color: red;
    border: 1px solid silver;
    color:  greenyellow;
    font-weight: bold;
    font-size: large;   
}


.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rejoignez{
    font-size: large;
    background-color: #f1bf1a;
    color: white;
    text-align: center;
    border-radius: 10px;
    align-items: center;
     margin: 3% 0;
     padding: 2%;
}
.rejoignez button{
    height: 15%;
    width: 21%;
    font-size: large;
    color:#f1bf1a ;
    background-color: white ;
    margin-top: 2%;
    outline: none;
    border: 1px solid white;
    font-weight: bold;
   
    

}
footer{
    background-color: #f1bf1a;
    color: white;
    margin-top: 2%;
    text-align: center;
    padding: 2%;
    
}
.valid{
    border: 5px solid rgb(93, 204, 93) !important;
    
  }
  .invalid{
    border: 5px solid red !important;
    
  }
  #invalid{
    color: red;
    font-size: large;
  }
  #message{
    color: red;
    font-size: large;
  }
  #msg{
    color: red;
    font-size: large;
  }



